.film {
  background: url("../images/children-of-men.jpg") center/cover no-repeat;
  min-height: 600px;

  margin-top: 70px;
}

.filmArticle {

  .texteArticle {
    margin: 20px;
  }

  .info {
    background-color: $rouge;
    color: $color-text-light;

    padding: 20px;

    .note {
      text-align: center;
      font-size: rem(36);
      margin-top: 0;
      border-bottom: solid 2px $gray-100;
      font-weight: $fw-semibold;
    }

    .realisateur {
      font-weight: $fw-semibold;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .filmArticle {
    display: flex;
    flex-direction: row-reverse;

    .texteArticle {
      h2 {
        margin-top: 0;
      }
    }

    .info {
      align-self: flex-start;

      padding: 20px;
      height: auto;
      width: 20%;
    }
  }

}