.connexion-modale {

  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.4);

  display: none;
  justify-content: center;
  align-items: flex-start;

  &.open {
    display: flex;

    .connexion {
      top: 30px;
      margin: 0 5px;
    }
  }

  .connexion {

    position: relative;
    top: -100px;

    color: $color-text-light;
    background-color: $rouge;

    padding: 50px;
    max-width: 600px;

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;

      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;

      border: none;
      box-shadow: 2px 2px 4px #000;

      border-radius: 50%;

      &:hover {
        background-color: $gray-200;
        box-shadow: 1px 1px 2px #000;
      }
    }

    h2 {
      margin: 10px 0;
    }

    /*.col-gauche, .col-droite {
      flex: 1 1 50%;
      padding: 20px;

    }

    .col-gauche {
      background-color: rgba(153, 50, 204, 0.9);
      color: $white;
    }

    .login-media {
      display: flex;
      align-items: center;

      margin-top: 20px;
      color: $white;

      transition: all 0.3s linear 0s;

      &:hover {
        text-decoration: none;
      }

      &.login-facebook {
        border: 2px solid $color-facebook;

        i {
          background-color: $color-facebook;
        }
      }

      &.login-facebook:hover {
        background-color: $color-facebook;
      }

      &.login-google {
        border: 2px solid $color-googleplus;

        i {
          background-color: $color-googleplus;
        }
      }

      &.login-google:hover {
        background-color: $color-googleplus;
      }

      i {
        width: 45px;
        height: 45px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 10px;
      }*/

  }

  .form-connexion {

    display: flex;
    flex-direction: column;

    input[type="text"], input[type="password"] {
      border: none;
      outline: none;
      border-bottom: 2px solid $rougeAlpha;
      border-right: 1px solid $rougeAlpha;
      margin-bottom: 15px;
      padding-left: 10px;
    }

    input[type="text"]:invalid, input[type="password"]:invalid {
      box-shadow: none;
    }

    label{
      color: $color-text-light;
    }

    .btn-connection {
      padding: 10px;
      border: 2px solid $color-bg-light;
      border-radius: 10px;
    }
  }

}