footer {
  padding: 0 20px;

  background-color: $color-bg-dark;
  color: $color-text-light;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i{
      font-size: $fz-soustitre;
    }
  }

}