//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-dark;

  nav {
    display: flex;
    flex-direction: row;
    align-items: start;

    position: fixed;
    top: 0;
    z-index: 3;

    width: 100%;

    background-color: $color-bg-dark;

    h1 {
      display: inline;

      font-family: $ff-titre;
      font-size: $fz-titre;

      margin: 0 0 0 20px;
    }

    .menu {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        display: inline-flex;
        justify-content: right;

        margin: 28px 20px 20px 20px;

        color: $white;
        font-size: rem(28);
      }

      input {
        display: none;
      }

      #toggle:checked + ul {
        display: block;
      }
    }

    .petitMenu{
      background-color: $color-bg-dark;
    }

    ul {

      list-style: none;
      padding: 0;

      width: 100%;
      text-align: center;

      display: none;



      li {

        .dropdown {
          font-size: $fz-soustitre;
        }

        & > ul {
          display: none;
        }

        &:hover > ul {
          display: block;

          li:hover {
            background-color: $gray-600;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .header-page {

    nav {
      flex-direction: row;
      justify-content: space-between;

      padding: 0 5px;

      .menu label {
        display: none;
      }

      .petitMenu {
        width: auto;

        display: flex;

        a {
          padding: 5px 10px;
        }

        li {
          position: relative;

          & > ul {
            position: absolute;

            background-color: $color-bg-dark;

            min-width: 90px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg){
  .header-page{
    nav{
      padding: 0 20px;
    }
  }
}









