.hero {
  background: url("../images/camera_qv3wl2_c_scale,w_300.jpg") center/cover no-repeat;
  min-height: 200px;

  margin-top: 70px;
  position: relative;

  .phrase-hero {
    color: $color-text-light;
    font-size: $fz-soustitre;

    position: absolute;
    top: 10%;
    left: 10%;

    spam {
      font-size: $fz-titre;
      font-family: $ff-titre;
      margin: 0 0 0 5px;
    }
  }
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url("../images/camera_qv3wl2_c_scale,w_705.jpg");
  }

  // Premier breakpoint
  @media screen and (min-width: $breakpoint-sm) {
    .hero {
      background-image: url("../images/camera_qv3wl2_c_scale,w_705.jpg");
      min-height: 400px;

      .phrase-hero {
        top: 40%;
        left: 40%;
      }
    }

    @media (min-resolution: 192dpi) {
      .hero {
        background-image: url("../images/camera_qv3wl2_c_scale,w_1236.jpg");
      }
    }
  }

  //Troisième breakpoint - inutile de faire le deuxième
  @media screen and (min-width: $breakpoint-lg) {
    .hero {
      background-image: url("../images/camera_qv3wl2_c_scale,w_1001.jpg");
      min-height: 600px;

      .phrase-hero {
        top: 60%;
        left: 60%;
      }
    }

    @media (min-resolution: 192dpi) {
      .hero {
        background-image: url("../images/camera_qv3wl2_c_scale,w_2000.jpg");
      }
    }
  }
}

