.inscription {
  margin-top: 20px;
  background-color: $color-bg-light;

  .col-gauche {
    padding: 40px 20px 20px 20px;
    background-color: $rouge;
    color: $color-text-light;

    h2 {
      font-family: $ff-normal;
      margin: 10px 0;

    }

    .login-media {
      display: flex;
      align-items: center;

      margin-top: 20px;
      color: $white;

      transition: all 0.3s linear 0s;

      &:hover {
        text-decoration: none;
      }

      &.login-facebook {
        border: 2px solid $color-facebook;

        i {
          background-color: $color-facebook;
        }
      }

      &.login-facebook:hover {
        background-color: $color-facebook;
      }

      &.login-google {
        border: 2px solid $color-googleplus;

        i {
          background-color: $color-googleplus;
        }
      }

      &.login-google:hover {
        background-color: $color-googleplus;
      }

      i {
        width: 45px;
        height: 45px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 10px;
      }

    }
  }

  .col-droite {
    //flex: 1 1 50%;
    padding: 0 20px 20px 20px;

    .form-inscription {

      display: flex;
      flex-direction: column;

      input[type="text"], input[type="password"] {
        border: none;
        outline: none;
        border-bottom: 2px solid $rougeAlpha;
        border-right: 1px solid $rougeAlpha;
        margin-bottom: 15px;
        padding-left: 10px;
      }

      input[type="text"]:invalid, input[type="password"]:invalid {
        box-shadow: none;
      }

      .btn-envoyer {
        padding: 10px;
        border: 2px solid $rougeAlpha;
        border-radius: 10px;
      }

      .genre {
        margin-bottom: 20px;
        p {
          margin: 0 0 5px;
        }

        label {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .inscription {
    display: flex;
    flex-direction: row;

    .col-gauche {
      width: 100%;
      padding: 76px 20px 20px 20px;
    }

    .col-droite{
      width: 100%;
      padding: 40px 20px 20px 20px;
    }
  }

}
