.profil {
  margin-top: 76px;

  .avatar {
    padding: 20px 0;
    text-align: center;

    background-color: $rouge;
    color: $color-text-light;

    img {
      width: 150px;
      border-radius: 50%;
      border: solid 2px $color-bg-light;
    }
  }

  .info {
    padding: 20px 0;
    text-align: center;


    display: flex;
    justify-content: center;
    flex-direction: column;
    //flex-wrap: wrap;

    p {
      margin: 5px;
    }

    button{
      margin: 10px;
      padding: 10px;
      border: 2px solid $rougeAlpha;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .profil {
    display: flex;
    flex-direction: row;

    margin-top: 70px;

    .avatar {
      width: 100%;
    }

    .info {
      width: 100%;
    }
  }

}

//.profil{
//  display: flex;
//  justify-content: center;
//
//  margin-top: 70px;
//
//  .avatar{
//    width: 100%;
//    background-color: $rouge;
//    color: $color-text-light;
//
//    img{
//      width: 150px;
//      border-radius: 50%;
//      border: solid 2px $color-bg-light;
//    }
//  }
//
//  .info{
//    display: flex;
//    flex-direction: column;
//
//    width: 100%;
//  }
//}