.articles{
  margin:0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  a:hover{
    text-decoration: none;
  }

  .article{
    width: 320px;
    padding: 10px;

    color: $gray-900;

    border-left: transparent solid 5px;
    transition: all 0.3s linear 0s;

    img{
      display: block;
      width: 300px;
      height: 320px;
    }

    &:hover{
      border-left: $rouge solid 5px;
    }
  }


}

@media screen and (min-width: $breakpoint-sm){
  .articles{

    .article{
      width: 400px;
    }

    a {
      display: flex;
      justify-content: center;


      img{
        width: auto;
      }
    }
  }
}

