.ajout-article{
  margin: 20px auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .form-ajout-article{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 76px 20px 20px 20px;
  }

  button{
    padding: 10px;
    border: 2px solid $rougeAlpha;
    border-radius: 10px;

    margin: 20px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .ajout-article{
    width: 45%;
  }
}