//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


// Grosseur des textes
$fz-normal: rem(16);
$fz-titre: rem(48);
$fz-soustitre: rem(24);

// Line-height
$lh-normal: 1.5;

// Font family

$ff-normal: 'Raleway', sans-serif;
$ff-titre: 'Abril Fatface', cursive;

// Fonts weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 500;
$fw-bold: 700;
$fw-black: 900;
